* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container{
  width: 85vw;
max-width: 50em;
height: 500px;
box-shadow: 0 0 10px rgba(0,0,0,.5);
padding: 3em;
}
input{
  width: 100%;
  padding: 0 5px;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid #555;
  outline: none;
  margin: 5px 0;
}
.btn{
  display: inline-block;
  padding: 10px 20px;
  background: #ff0000;
  text-decoration: none;
  color:#fff;
  border-radius: 5px;
  margin: 10px 0;
}
.box{
  display: flex;
  align-items: center;
  gap: 40px;
}
li{
  list-style: none;
  font-size: 20px;
  font-weight: 300;
  color:#555;
}
h1{
 position: sticky;
 bottom: 150px;
 right: 400px;
}